APPLE_API_KEY=your_api_key
APPLE_ISSUER_ID=your_issuer_id
SERVER_URL=https://udid.zerogon.consulting
SIGNER_PATH=../your-pub-cert.pem
PRIVKEY_PATH=../your-priv-key.pem
OPENSSL_PATH=/opt/homebrew/bin/openssl
CERTFILE_PATH=../your_cert.pem
FINAL_URL=itms-services://?action=download-manifest&url=https://zerogon.consulting/manifest.plist
